* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: WremenaLight;
    src: url("fonts/WremenaLight.otf");
}

@font-face {
    font-family: WremenaRegular;
    src: url("fonts/WremenaRegular.otf");
}

body {
    font-family: WremenaLight;
    background: rgb(30, 33, 37)
}

.lastname {
    font-family: WremenaRegular;
    font-weight: bold;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.name {
    color: #e9dfce;
    font-size: 15rem;
    margin-left: 10rem;
    font-style: italic;
    animation: 1.5s ease-in-out 0s 1 slideInFromBottom;
}