* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: WremenaLight;
    src: url("fonts/WremenaLight.otf");
}

@font-face {
    font-family: WremenaRegular;
    src: url("fonts/WremenaRegular.otf");
}

body {
    font-family: WremenaLight;
    background: #fafafa;
}

.lastname {
    font-family: WremenaRegular;
    font-weight: bold;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    25% {
        transform: translateY(25%);
    }

    50% {
        transform: translateY(10%);
    }

    75% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

.name {
    font-size: 15rem;
    color: #333;
    margin-left: 10rem;
    font-style: italic;
    animation: 2s ease-out 0s 1 slideInFromBottom;
    padding: 30px;
}